<section class="todoapp">
  <header class="header">
    <h1 id="main_title">Todos</h1>
    <input class="new-todo" placeholder="What needs to be done?" autofocus="" [(ngModel)]="newTodo.title" (keyup.enter)="addTodo()">
    <button class="new-todo-but" (click)="addTodo()">+</button>
  </header>
  <section class="main" *ngIf="todos.length > 0">
    <ul class="todo-list">
      <li *ngFor="let todo of todos" [class.completed]="todo.complete">
        <div class="view">
          <input class="toggle" type="checkbox" (click)="toggleTodoComplete(todo)" [checked]="todo.complete">
          <label>{{todo.title}}</label>
          <button class="destroy" (click)="removeTodo(todo)">X</button>
        </div>
      </li>
    </ul>
  </section>
  <section class="filter">
    <input class="filter-field" placeholder="Search todo." [(ngModel)]="searchText" (keyup.enter)="SearchTodo()">
    <button class="search_button" (click)="SearchTodo()">S</button>
    <button class="search_clear_button" (click)="SearchClear()">X</button>
  </section>
  <footer class="footer" *ngIf="todos.length > 0">
    <span class="todo-count"><strong>{{todos.length}}</strong> todos {{todos.length == 1 ? 'item' : 'items'}} in the list.</span><br>
    <span class="todo-count"><strong>{{getDoneTodos()}}</strong> done todos {{todos.length == 1 ? 'item' : 'items'}} in the list.</span>
  </footer>
</section>